@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Lobster|Open+Sans:300,400,600,700,800");



/* Basic */
body{
  background-color: #202020;
  color: #FFF;
  overflow-x:hidden;
}

@-ms-viewport {
  width: device-width;
}
@media screen and (max-width: 980px) {
  html body{
    padding:0;
    margin: 0;
    width: 100%;
    height: 110%;
  }
}

@media screen and (max-width: 736px) {
  html body{
    width: 100%;
  }
}

/* header0 */

#header .logo {
  display: inline-block;
  height: inherit;
  left: 1.5em;
  opacity: 0.8;
  line-height: inherit;
  margin: 2em 0 0 1em;
  position: fixed;
}


/* Header */

#header {
  background-image: url("../images/banner.jpg");
  align-items: center;
  display: flex;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}

#header .inner {
  transition: opacity 1s ease, transform 1s ease;
  opacity: 1;
  position: relative;
  z-index: 2;
}

#header a {
  font-size: 5em;
  line-height: 1.1;
  font-family: "Lobster", cursive;
  margin-bottom: .25em;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: -2px -2px 0 rgba(32, 32, 32, 0.125);
  text-transform: none;
  position: center;
  text-decoration: none;
}

#header:before {
  transition: opacity 3s ease;
  transition-delay: 1.25s;
  content: '';
  display: block;
  background-color: #202020;
  height: 100vh;
  opacity: 0.35;
  position: absolute;
  margin: 0;
  width: 100%;
  z-index: 1;
}



header .inner span.animated {
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  margin-top: 45vh;
  height: 4px;
  width: 4px;
  border-radius: 2px;
  background: #fff;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

header .inner  span::before,
header .inner span::after {
  position: absolute;
  top: -23px;
  content: "";
  height: 20px;
  width: 4px;
  border-radius: 2px;
  background: #fff;
}

header span::before {
  left: -10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform:    rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  -o-transform:      rotate(-45deg);
  transform:         rotate(-45deg);
}

header span::after {
  right: -10px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  transform:         rotate(45deg);
}

/* Information */

.wrapper {
  background-image: url("../images/banner2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-top: 0;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  text-align: center;
  overflow: hidden;

}

.box {
  padding: 2em 0 2em 0;
  margin: 5em 3em 5em 3em;
  background: rgba(32, 32, 32, 0.6);
  overflow: hidden;
  height:125vh;
  width: 190vh;
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.box:hover {
  padding: 6em 0 2em 0;
  background: rgba(32, 32, 32, 0.8);
}


.box h2 {
  margin: 0 0 .5em 0;
  font-weight: bold;
  font-size: 2em;
  color: #FFF;
  font-family:serif;
}

@media screen and (max-width: 980px) {
  .box{
    padding: 2em;
    width: 650px;
    height: 110%
    margin:0;
  }
}

@media screen and (max-width: 736px) {
  .box{
    padding: 1.3em;
    width: 506px;
    height: 130vh;
  }
}


/* Promotiom */
.wrapper2 {
  background-image: url("../images/banner3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  text-align: center;
  overflow: hidden;
  background-size: cover;
  background-attachment: fixed;
  border-top: 0;
}

.wrapper2 h3 {
  text-decoration: none;
  font-size: 1.4em;
  font-weight: bold;
  font-family: courier;
}

.box2 {
  padding: 4em 0 2em 0;
  margin: 3em 6em 3em 6em;
  background: rgba(32, 32, 32, 0.6);
  overflow: hidden;
  height:100vh;
  width: 170vh;
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
}

.box2:hover {
  background: rgba(32, 32, 32, 0.8);
}
@media screen and (max-width: 980px) {
  .box2{
    padding: 1.8em;
    margin: 3.8em;
    width: 80%;
    height: 110%
  }
}
@media screen and (max-width: 736px) {
  .box2{
    font-size: 0.8em;
    padding: 1em;
    width: 80%;
  }
}
@media screen and (max-width: 980px) {
  video{
    padding: 0;
    margin: .8em;
    width: 580px;
    height: 100%;
  }
}
@media screen and (max-width: 736px) {
  video{
    padding: 0;
    width: 426px;
  }
}
/* Reservation */

#reservation {
  height: 45vh;
  width: 100%;
  padding: 6em 0 0em 0;
  background-color: #f2f2f2;
}

#reservation .wrapper3 {
  height: 35vh;
  width: 163vh;
  padding: 2em 2em 2em 2em;
  margin: 0 6em 0 6em;
  background-color: white;
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
  border-top: 0;
}
input:focus {
    outline:none;
}
input[type="number"],
select{
  margin-left: 6em;
  border: none;
}

input[type="date"] {
  border:none;
  padding-left: 4em;
  text-align: right;
}

input[type="submit"]{
  margin: 2em 3em 0 3em;
  border: none;
  display: inline-block;
  opacity: 0.5;
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  color: white;
  background-color: #e9967a;
  border-radius: 3px;
  transition: all 0.5s;
  position: relative;
  padding: 10px;
}

input[type="submit"]:hover {
  padding-right: 13px;
  padding-left: 13px;
  opacity: 1;
}


fieldset {
  padding: 2em 0 2em 0;
  color:#202020;
}
legend {
  font-size: 2em;

}

	label {
		font-size: .9rem;
		font-weight: 400;
    margin: .8em 0 .8em 0;
	}
  @media screen and (max-width: 980px) {
    #reservation .wrapper3 {
      padding: 1em;
      margin-left: 5em;
      width: 80%;
      height: 100%;
    }
  }
  @media screen and (max-width: 980px) {
    form {
      padding: 0em;
      margin: 0em;
      width: 100%;
    }
  }

  @media screen and (max-width: 736px) {
    #reservation .wrapper3{
      margin-left: 2em;
      padding: 1.3em;
      width: 80%;
    }
  }


  /* Click animations styles */
  .click-animations input {
    border: 2px solid transparent;
    transition: 0.3s;
  }

  .click-animations input:focus,
  .click-animations textarea:focus {
    border-color: #e9967a;
  }


/* footer */
#footer {
  padding: 2rem 0 2rem 0 ;
  background: #f2f2f2;
}

  #footer .copyright {
    color: #bbb;
    font-size: 0.9rem;
    margin: 0 0 2rem 0;
    padding: 0;
    text-align: center;
  }


/* Annimation */
.animated{
  -webkit-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both;
}
.animated.infinite{
  -webkit-animation-iteration-count:infinite;
  animation-iteration-count:infinite;
}
.animated.bounceIn {
  -webkit-animation-duration:.75s;
  animation-duration:.75s;
}
@keyframes bounce{
  0%,20%,53%,80%,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1);-webkit-transform:translateZ(0);transform:translateZ(0);}
  40%,43%{-webkit-transform:translate3d(0,-30px,0);transform:translate3d(0,-30px,0);}
  40%,43%,70%{-webkit-animation-timing-function:cubic-bezier(.755,.05,.855,.06);animation-timing-function:cubic-bezier(.755,.05,.855,.06);}
  70%{-webkit-transform:translate3d(0,-15px,0);transform:translate3d(0,-15px,0);}
  90%{-webkit-transform:translate3d(0,-4px,0);transform:translate3d(0,-4px,0);}
}
.bounce{
  -webkit-animation-name:bounce;
  animation-name:bounce;
  -webkit-transform-origin:center bottom;
  transform-origin:center bottom;
}
@keyframes flash{
  0%,50%,to{opacity:1}
  25%,75%{opacity:0}
}
.bounceIn{
  -webkit-animation-name:bounceIn;
  animation-name:bounceIn;
}
@keyframes bounceInDown{
  0%,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1)}
  0%{opacity:0;-webkit-transform:translate3d(0,-3000px,0);transform:translate3d(0,-3000px,0)}
  60%{opacity:1;-webkit-transform:translate3d(0,25px,0);transform:translate3d(0,25px,0)}
  75%{-webkit-transform:translate3d(0,-10px,0);transform:translate3d(0,-10px,0)}
  90%{-webkit-transform:translate3d(0,5px,0);transform:translate3d(0,5px,0)}
  to{-webkit-transform:none;transform:none}
}
.bounceInDown{
  -webkit-animation-name:bounceInDown;
  animation-name:bounceInDown;
}
